__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.whl
*.dist-info/
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
*.DS_Store
*.idea/
*.vscode/
*.env
*.env.local
*.env.*.local
*.coverage
*.coveragerc
*.pytest_cache/
experiments/checkpoint/weights/
datasets/Yelp/yelp_dataset.tar